/* Declaracion de variables CSS */
:root {
  --btn-color-1: #f44336;
  --btn-color-2: #039be5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
  grid-template-rows: 20% 30% 30% 20%;
}

header {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 7vh;
  align-items: center;
  /* background-color: cornflowerblue; */
}

header h1{
  font-size: 2.5rem;
  
}

header .header-nav ul{ 
  display: flex;
  justify-content: space-around;
  margin-right: -60px;
  /* margin: 0 20px; */
 
}

header .header-nav ul li{
  list-style: none;
  margin-left: 20px;
}

header .header-nav ul li a{
  text-decoration: none;
  /* border: solid 1px red; */
  border-radius: 25px;
  padding: 15px 20px;
  color: white;
}

#login {
  background-color: #f44336;
}
#signin {
  background-color: #039be5;
}

/***********estilos del MAIN**************/
main {
 
}




/**********************************/

footer {
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 4;
  grid-row-end: 5;
  display: flex;
  align-items: center;
  height: 15vh;
  width: 100%;
  background-color: #f44336;
}

footer .footer-container{
  width: 100%;
  display: flex;
  justify-content: space-around;

 
  grid-column-start: 2;
  grid-column-end: 6;
}
.footer-msg h2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

footer .footer-container .socialLinks {
  
  display: flex;
  justify-content: space-between;
  width: 20vw;
  margin: 0 5px;
}

footer .footer-container .socialLinks img {
  height: 5vh;
}

footer .footer-container .dedicatoria{
  margin: auto 0;
}
