/* * {
  margin: 0;
  padding: 0;
} */

.main-head {
  display: flex;
  flex-direction: column;
  height: 40vh;
  text-align: center;
  justify-content: center;
}

.main-head h1 {
  font-size: 4rem;
}

@media (min-width: 320px) and (orientation: portrait) {
  .main-head {
    display: flex;
    flex-direction: column;
    height: 40vh;
    text-align: center;
    justify-content: center;
    color: white;
    background-color: #00acee;
    width: 100%;
  }
  .main-head h1 {
    font-size: 2rem;
  }

  .main-index ul {
    margin-top: 5%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
  }
}
